body{
  background-image: linear-gradient(to bottom right, #beb5ff,#332c8e);
  background-size: cover;
  background-attachment: fixed;
  margin: 0px auto;
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #776fc6;
}

body::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.jumbotron{
  margin-top: 25px;
  background-color: #ffffff00;
  color: white;
}
h1{
  font-family: 'Merienda One', cursive;
  font-size: 65px;
  font-weight: 900;
  text-align: center;
}
h4{
  margin-top: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  text-align: center;
}
.btnFont{
  font-weight: bold;
  font-family: 'Merienda One', cursive;
}
#startBtn{
  padding: 15px 20px 15px 20px;
  font-size: 25px;
  margin-top: 25px;
}
img{
  position: absolute;
}
#img1{
  margin-top: -120px;
  margin-left: -25px;
}
#img2{
  margin-top: -100px;
  margin-left: 70%;
}

.card{
  margin-top: 100px;
  border-radius: 10px;
  background-color: #ccc5ff;
}
.chat{
  margin-top: 80px;
  height: 500px;
  display: block;
  box-shadow: 5px 5px 8px 5px #00000040, -5px 5px 30px 5px #0000008f;
}
/*background: linear-gradient(to bottom right, #c8c0ff,#837bff);*/
.card-header:first-child{
  background-color: #000000bd;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-family: 'Merienda One', cursive;
}
.messageInput{
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  width: 100%;
}
#messageRow{
  width: 100%;
}
.messagesBox{
  position: relative;
  display: block;
  overflow-y: auto;
  height: 20rem;
}
.messagesBox::-webkit-scrollbar {
  width: 5px;
}
.messagesBox::-webkit-scrollbar-track {
  background: #ccc5ff;
}

.messagesBox::-webkit-scrollbar-thumb {
  background: #000000bd;
  border-radius: 10px;
}
.message{
  padding: 10px;
  margin-bottom: 7px;
  width: 70%;
  background-color: #f99999;
  border-radius: 10px;
}
/*blue: #9bc7f1
  red: #f99999*/

.passBtn{
  background: linear-gradient(to bottom right, #c2baff,#3f33ff);
  color: white;
  font-size: 20px;
  border: 1px solid #a79bff;
  margin-bottom: 25px;
}
.passBtn:hover{
  transform: scale(1.05);
  background: linear-gradient(to bottom left, #c2baff,#3f33ff);
}
.text-blue{
  color: blue;
}
.text-red{
  color: red;
}
.text-green{
  color: green;
}
li{
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 400;
}
.judge{
  text-align: center;
  font-size: 23px;
  font-family: 'Merienda One', cursive;
  color: #11008e;
  margin-left: -15px;
}
.typing{
  font-family: 'Dancing Script', cursive;
  font-size: 21px;
}
